<%- include('partials/_header'); %>

<%- include('partials/_navBar'); %>
   
<div class="alert alert-danger mx-auto w-75" role="alert">
    <h4 class="alert-heading">Sorry! An error has occurred.</h4>
    <p><%= message%></p>
    <hr>
    <p class="mb-0">If the error still persists, contact an administrator</p>
  </div>