<div class="modal fade" id="modalList" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add List</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/addList" method="POST" id="subtmitAL" enctype="multipart/form-data">
                    <!--title-->
                    <div class="form-goup m-2" id="idTitle">
                        <h6>Title <span class="label label-default"></span></h6>
                        <input type="text" name="title" id="titleM" placeholder="Insert a Title List" required
                            class="form-control" value="">
                    </div>                
                    <!--button-->
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success btn-block m-2">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

